.landingWrapper {
  position: relative;
  width: 100%;
  height: 80vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;   
  justify-content: flex-start;
  padding-left: 80px;    
  color: #fff;
}
.landingContent {
  max-width: 600px;
  z-index: 2;
}
.landingContent h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bolder;
}
.landingContent p {
  font-size: 1.5rem;
  margin-bottom: 25px;
  line-height: 1.6;
  color: #fff;
  font-weight: bolder;
}
.watchBtn {
  background: red;
  padding: 12px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s;
  font-weight: bold;
}
.watchBtn:hover {
  background: darkred;
}
