.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  
}
.categoryName {
  font-family: var(--main-font);
  color: var(--text-color);
  font-weight: bold;
}
.pagination {
  width: fit-content;
  margin: 30px auto;
  display: flex;
  gap: 20px;
  align-items: center;
}
.pagination button {
  background-color: var(--accent-color);
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 2px;
}
.pagination button:disabled {
  background-color: gray;
}
.pagination span {
  font-family: var(--main-font);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 2px;
}
