.navbar {
background-color: var(--background-color) !important;
position: sticky;
top: 0;
z-index: 9999;
}
.navbar .navbar-nav {
gap: 25px;
font-size: 18px;
}
nav .logo {
font-family: var(--main-font);
color: var(--accent-color) !important;
font-size: 34px;
font-weight: bold;
outline: none;
}
nav .navbar-toggler {
font-size: 20px;
color: var(--text-color);
padding: 5px 10px;
}
nav ul li a {
color: var(--text-color) !important;
}
nav ul li a.active {
color: var(--accent-color) !important;
}
nav ul li:hover a {
color: var(--accent-color) !important;
}
.fa-sun{
color:var(--text-color)
}
.fa-moon{
color:var(--text-color)
}
nav ul li a.loginBtn,
nav ul li a.logoutBtn {
border: 2px solid var(--accent-color);
display: inline-block;
padding: 5px 15px !important;
border-radius: 10px;
color: var(--accent-color) !important;
font-weight: bold;
transition: var(--main-transition);
}
nav ul li a.loginBtn:hover,
nav ul li a.logoutBtn:hover {
background-color: var(--accent-color); 
color: #fff !important; 
}
