.registerContainer {
  padding: 60px 20px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Box */
.register {
  width: 100%;
  max-width: 500px;
  background-color: var(--bg-shade-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
/* Title */
.newAccount h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-color);
}
.register .invalidInputError{
  color: var(--accent-color);
}
.newAccount {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  color: var(--text-color);
}
/* Labels */
.register label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}
.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
  font-family: var(--main-font);
  outline: none;
  transition: border-color 0.3s ease;
}
.register input[type="submit"] {
  width: auto;
  padding: 12px 24px;
  background-color: var(--accent-color);
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.register input[type="submit"]:hover {
  background-color: darkred;
  border: none;
}
 /* Dark Theme Login Box */
.darkTheme .register {
  background-color: #111;       
  border: 1px solid #333;    
}
/* Dark Theme Inputs */
.darkTheme .register input[type="text"],
.darkTheme .register input[type="password"] {
  background-color: #111;
  color: #fff;
}
/* Dark Theme Submit Button */
.darkTheme .registerSubmit {
  color: #fff;
}
/* Link */
.register p {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  color: var(--text-color);
}
.register p a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}
.successMessage {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
}
