.relatedMovies {
  background-color: var(--background-color);
  padding: 50px 0;
}
.relatedContainer {
  width: 90%;
  margin: auto;
}
.relatedMovies .moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
